version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    reviewers:
      - dglazkov
      - aomarks

  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    schedule:
      interval: "daily"
    reviewers:
      - dglazkov
      - aomarks

  - package-ecosystem: "devcontainers"
    directory: ".devcontainer"
    schedule:
      interval: "daily"
    reviewers:
      - dglazkov
      - aomarks
