# Disable automatcally running postinstall etc. scripts on install.
#
# This reduces the npm attack surface slightly, because now only
# deps that are actually reachable through our own executed code
# paths have an opportunity to execute code.
#
# If we find a dependency that has a required postinstall step,
# we should create and document our own manual post-install script
# that runs just the required ones.
ignore-scripts=true

