@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';
@import 'https://unpkg.com/open-props/buttons.min.css';

:root {
  color-scheme: light dark;
}

button {
  background: white;
  color: var(--indigo-8);
  font-size: var(--font-size-3);
  padding-inline: var(--size-8);
  padding-block: var(--size-3);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  text-shadow: none;
}

button.primary {
  background: var(--indigo-8);
  text-shadow: 0 1px 0 var(--indigo-9);
  color: white;
}

button.primary:hover {
  background: var(--indigo-7);
}

nav {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

nav a {
  padding: 1em;
  border-radius: 1em;
}

footer {
  margin-top: auto;
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
  color: #aaa;
}

header {
  position: sticky;
  top: 0px;
  background-color: var(--surface-1);
}

body {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#app p {
  text-align: left;
}

.card {
  padding: 2em 0;
  display: block;
  display: flex;
  flex-direction: column;
  text-align: left;
}

details {
  text-align: left;
}

details pre {
  overflow-x: auto;
}

div.output, pre.output {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: monospace;
  font-size: 1.2em;
  text-align: left;
  color: darkslategrey;
}

pre.output {
  max-width: 100%;
}

div.output.results pre {
  overflow-x: auto;
  text-wrap: balance;
}

section.repl {
  display: grid;
  flex:1;
  grid-template-areas: "graph mermaid";
  left: 50%;
	margin-left: -40vw;
	margin-right: -40vw;
	max-width: 100vw;
	position: relative;
	width: 80vw;

  gap: 1em;
}

section.repl div.graph {
  grid-area: graph;
  display: grid;
}

section.repl div.mermaid {
  grid-area: mermaid;
  display: grid;
}

section.repl div.mermaid fieldset {
  max-inline-size: 100%;
}

section.repl div.mermaid fieldset div {
  display:flex;
}

section.repl div.graph fieldset {
  max-inline-size: 100%;
}

section.repl div.mermaid fieldset .output {
  margin:initial
}

section.repl div.graph fieldset .fields {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

section.repl div.graph fieldset .fields textarea {
  flex: 1;
}

dialog[open] {
  display: grid;
  grid-template-areas: "output_header debug_header" "output debug";
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

dialog[open] h3:has(+ pre.output) {
  grid-area: output_header;
}

dialog[open] h3:has(+ pre.debug) {
  grid-area: debug_header;
}

dialog[open] pre.output {
  overflow: auto;
  text-align: left;
  grid-area: output;
  margin: initial;
}

dialog[open] pre.debug {
  overflow: auto;
  text-align: left;
  grid-area: debug;
  margin: initial;
}

@media screen and (max-width: 720px){
  section.repl {
    display: grid;
    left: initial;
    margin-left: initial;
    margin-right: initial;
    max-width: initial;
    position: initial;
    width: initial;
  }
}

:root {
  --icon-error: url(https://api.iconify.design/ic:baseline-error.svg?color=%23ff6b6b);
  --icon-search: url(https://api.iconify.design/ic:search.svg?color=%23adb5bd);
  --icon-email: url(https://api.iconify.design/ic:email.svg?color=%23adb5bd);
  --icon-url: url(https://api.iconify.design/ic:link.svg?color=%23adb5bd);
  --icon-user: url(https://api.iconify.design/ic:person.svg?color=%23adb5bd);
  --icon-user-editing: url(https://api.iconify.design/ic:person-outline.svg?color=%23adb5bd);
  --icon-tel: url(https://api.iconify.design/ic:phone.svg?color=%23adb5bd);
  --icon-tel-editing: url(https://api.iconify.design/ic:phone-in-talk.svg?color=%23adb5bd);
  --icon-password: url(https://api.iconify.design/ic:baseline-lock.svg?color=%23adb5bd);
  --icon-password-editing: url(https://api.iconify.design/ic:baseline-lock-open.svg?color=%23adb5bd);
  --icon-no-edit: url(https://api.iconify.design/ic:baseline-edit-off.svg?color=%23adb5bd);
  --icon-arrow-down: url(https://api.iconify.design/ic:keyboard-arrow-down.svg?color=%23adb5bd);
  --icon-arrow-up: url(https://api.iconify.design/ic:keyboard-arrow-up.svg?color=%23adb5bd);
}

body::after {
  content: var(--icon-tel-editing) var(--icon-password-editing) var(--icon-user-editing) var(--icon-arrow-up);
  opacity: 0;
  position: absolute;
  z-index: -1;
}

fieldset {
  counter-reset: errors;
  border-color: var(--surface-2);
  box-shadow: var(--shadow-3);
  padding-inline: var(--size-4);
  padding-block: var(--size-2) var(--size-3);
  transition: box-shadow .4s var(--ease-out-4);
  
  &:focus-within {
    box-shadow: var(--shadow-6);
  }
  
  &:focus-within > legend {
    color: var(--link);
  }
  
  & > div:has(:placeholder-shown:required, :not(:placeholder-shown):invalid, :not([placeholder]):required) > label {
    position: relative;
    
    &::after {
      content: "required";
      position: absolute;
      margin-block-start: .5ex;
      margin-inline-start: 1ex;
      text-indent: -200vw;
      inline-size: 6px;
      block-size: 6px;
      border-radius:  var(--radius-round);
      background-color: var(--red-4);
      box-shadow: 0 0 var(--size-2) var(--red-4);
/*       animation: var(--animation-ping); */
    }
  }
   
  &:has(:not(:placeholder-shown):invalid) legend::after {
    text-transform: initial;
		color: var(--red-5);
		content: " (" counter(errors) " errors)";
	}
  
  & div:has(:not(:placeholder-shown):invalid) {
		counter-increment: errors;
	}
}

legend {
  display: inline-flex;
  gap: var(--size-2);
  align-items: center;
  min-block-size: 3ch; 
  border: 1px solid var(--surface-2);
  padding-inline: 1.5ch;
  border-radius: var(--radius-round);
  text-transform: uppercase;
  letter-spacing: var(--font-letterspacing-3);
  font-size: var(--font-size-0);
  
  @media (prefers-color-scheme: light) {
    background: white;
  }
}

:where(input:not(
  button,
  [type="button"], 
  [type="file"], 
  [type="number"],
  [type="range"],
  [type="color"],
  [type="checkbox"],
  [type="radio"]
)) {
  /* todo: touch-callout */
  line-height: 2.5;
  padding-block: 0;
  padding-inline: 1.75ch;
  transition: 
    background-color .5s var(--ease-3),
    outline-offset 145ms var(--ease-2);
  
  :placeholder-shown {
    text-overflow: ellipsis;
  }
  
  @media (prefers-reduced-motion: no-preference) {
  &:not(:placeholder-shown):invalid:not(:focus) {
      animation: var(--animation-shake-x);
      animation-duration: .4s;
    }
  }
}

:where(input:not(
  button, 
  input[type="button"], 
  input[type="range"],
  input[type="color"],
  input[type="checkbox"],
  input[type="radio"]
), textarea) {
  box-shadow: var(--shadow-2), 0 0 1px 1px var(--surface-2);
  
  @media (prefers-color-scheme: dark) {
    box-shadow: 
      var(--inner-shadow-2), 
      0 1px 0px 0px var(--dark-surface) inset,
      0 -.5px 0px 0px var(--surface-2) inset;
  }
}

input:is(
 [type=text],
 [type=password],
 [type=url],
 [type=email],
 [type=tel]
) {
  padding-inline-end: 3.5ch;
}

input:is(
 [type=text],
 [type=password],
 [type=url],
 [type=email],
 [type=tel],
 [type=search]
) {
  flex-shrink: 1;
  min-inline-size: 5ch;
  max-inline-size: 100%;
}

input, textarea {
  --dark-surface: var(--gray-11);
}

[readonly]:focus {
  outline: none;
}

input:not(
  button, 
  [disabled], 
  [readonly], 
  [type="file"], 
  [type="button"], 
  [type="submit"], 
  [type="reset"],
  [type="checkbox"],
  [type="radio"]), 
  textarea, 
  select {
  color: var(--text-1);
  
  @media (prefers-color-scheme: light) {
    background-color: white;
  }
  
  &:is(:hover, :focus-within) {
    @media (prefers-color-scheme: dark) {
      background-color: var(--dark-surface);
    }
  }

  &:not(:placeholder-shown, :not([placeholder])):invalid {
    background-image: var(--icon-error);
    background-position: calc(100% - 1.5ch) center;
  }
    
  &:not(:focus-within):not(:placeholder-shown):invalid {
    text-decoration: underline wavy var(--red-6);

    @media (prefers-color-scheme: dark) {
      text-decoration: underline wavy var(--red-4);
    }
  }
}

input[readonly],
input[disabled] {
  cursor: not-allowed;
}

[disabled] {
  opacity: .5;
  box-shadow: none;
  cursor: auto;
}

@keyframes drop-zone {
  from { box-shadow: 0 0 0 0 var(--link) }
  to   { box-shadow: 0 0 0 25px #0000 }
}

input[type="file"] {
  /*  find and remove this from normalize  */
  border: none;
  
  @media (prefers-color-scheme: light) {
    box-shadow: none; 
  }
  
  &.dropping {
    outline: 2px dashed var(--link);
    
    @media (prefers-reduced-motion: no-preference) {
      animation: drop-zone 1.5s var(--ease-out-5) infinite;
    }
  }
}

:where(input[type=file])::-webkit-file-upload-button, :where(input[type=file])::file-selector-button {
  margin: var(--size-3);
}

@media (prefers-color-scheme: dark) {
  :where(input[type=file])::-webkit-file-upload-button,   
  :where(input[type=file])::file-selector-button {
    border-color: transparent;
  }
}

input[type="number"] {
  padding-block: .75ch;
  padding-inline: 1.75ch .75ch;
  min-inline-size: 10ch;
}

input[type="search"] {
  background-image: var(--icon-search);
  background-position: 1.5ch center;
  padding-inline: 4ch 1.25ch;
  border-radius: var(--radius-round);
  
  &::-webkit-search-cancel-button {
    margin-right: -5px;
    padding: .1ch;
  }
  
  &[list]:placeholder-shown {
    background-image: 
      var(--icon-search),
      var(--icon-arrow-down);
    background-position: 1.5ch center, calc(100% - 1.25ch) center;
    background-size: auto, 2.25ch;
    
    &:focus {
      background-image: 
        var(--icon-search),
        var(--icon-arrow-up);
    }
  }
  
  &::-webkit-calendar-picker-indicator {
    color: transparent;
  }
}

input[type="text"][list] {
  background-image: var(--icon-arrow-down);
  background-position: calc(100% - 1.25ch) center;
  background-size: 2.25ch;
  
  &:focus {
    background-image: var(--icon-arrow-up);
  }
  
  &::-webkit-calendar-picker-indicator {
    color: transparent;
  }
}

input[type="password"] {
  background-image: var(--icon-password);
  background-position: calc(100% - 1.5ch) center;
  
  &:focus {
    background-image: var(--icon-password-editing);
  }
}

input[type="email"] {
  background-image: var(--icon-email);
  background-position: calc(100% - 1.5ch) center;
}

input[readonly] {
  background-image: var(--icon-no-edit);
  background-position: calc(100% - 1.5ch) center;
}

input[type="url"] {
  background-image: var(--icon-url);
  background-position: calc(100% - 1.5ch) center;
}

input[type="tel"] {
  background-image: var(--icon-tel);
  background-position: calc(100% - 1.5ch) center;
  
  &:focus {
    background-image: var(--icon-tel-editing);
  }
}

input:where([name*="username"],[id*="username"]) {
  background-image: var(--icon-user);
  background-position: calc(100% - 1.5ch) center;
  background-size: 1.75ch;
  
  &:focus {
    background-image: var(--icon-user-editing);
  }
}

input[type="color"] {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  inline-size: var(--size-8);
  block-size: var(--size-8);
  border-radius: var(--radius-round);
  overflow: hidden;
  box-shadow: var(--shadow-5);
  
  &::-webkit-color-swatch {
    border: none;
  }
  
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
}

textarea {
  transition: background-color .5s var(--ease-3);
}

select {
  /*  todo: share more with buttons or use a .btn class  */
  --_bg-light: #fff;
  --_bg-dark: var(--surface-3);
  --_bg: var(--_bg-light);
  background-color: var(--_bg);
  box-shadow: var(--shadow-3), 0 1px var(--surface-3);
  
  appearance: none;
  background-image: var(--icon-arrow-down);
  background-position: calc(100% - 1ch) center;
  background-size: 3ex;
  padding-block: 0.75ch;
  padding-inline: 1.75ch 3ch;
  line-height: 1.5;
  
  &:is(:hover,:focus) {
    /* add button hover */
    background-color: var(--_bg);
  }
  
  &:is(:hover, :focus) {
    background-image: var(--icon-arrow-up);
  }
  
  @media (prefers-color-scheme: dark) {
    --_bg: var(--_bg-dark);
  }
}

/* todo: ship unprefixed as well */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* todo: add checkmark icon */
  -webkit-text-fill-color: var(--text-1);
  -webkit-box-shadow: 0 0 0px 1e5px var(--gray-11) inset;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: var(--gray-5);
  font-style: italic;
  
  @media (prefers-color-scheme: dark) {
    color: var(--surface-4);
  }
}

::-moz-placeholder {
  opacity: 1;
}

fieldset, form > header {
  display: grid;
  gap: var(--size-2);
}

form {
  display: grid;
  gap: var(--size-8);
}

legend {
  margin-inline-start: -2px;
  color: var(--text-2);
  font-weight: var(--font-weight-6);
}

fieldset {
  gap: var(--size-3);
  max-inline-size: max-content;
  
  @media (width > 720px) {
    gap: var(--size-2);
  }
  
  & > div {
    display: grid;
    grid-auto-columns: 1fr;
    gap: var(--size-2) var(--size-3);
    align-items: center;
    
    @media (width > 720px) {
      grid-template-columns: var(--size-content-1) auto;
    }
    
    & > label {
      justify-self: start;
    }
  }
  
  & > footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--size-3);
    margin-block-start: var(--size-6);
    
    & > menu:only-child {
      margin-inline-start: auto;
    }
  }
  
  & > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    gap: var(--size-2);
    
    & > li {
      padding: 0;
      
      & > label {
        display: inline-flex;
        align-items: baseline;
        gap: var(--size-4);
        max-inline-size: var(--size-content-1);
        
        & > input {
          margin-inline-start: 0;
          flex-shrink: 0;
        }
      }
    }
  }
}

:where(
  input[type="checkbox"],
  input[type="radio"]
) {
  aspect-ratio: 1;
  box-shadow: var(--shadow-6);
  transform-style: preserve-3d;
  cursor: pointer;
  
  --isLTR: 1;
  --isRTL: -1;
  
  &:dir(rtl) {
    --isLTR: -1;
    --isRTL: 1;
  }

  &:hover::before {
    --thumb-scale: 1;
  }

  @media (hover: none) {
    inline-size: 1.5rem;
    block-size: 1.5rem;
  }

  &::before {
    --thumb-scale: .01;
    --thumb-highlight-size: 225%;

    content: "";
    inline-size: var(--thumb-highlight-size);
    block-size: var(--thumb-highlight-size);
    clip-path: circle(50%);
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    background: hsl(0 0% 50% / 20%);
    transform-origin: center center;
    transform: 
      translateX(calc(var(--isRTL) * 50%)) 
      translateY(-50%) 
      translateZ(-1px) 
      scale(var(--thumb-scale))
    ;
    will-change: transform;

    @media (prefers-reduced-motion: no-preference) {
      transition: transform .2s ease;
    }
  }
}


@media (pointer: coarse) {
  input[type="checkbox"],
  input[type="radio"]{
    inline-size: var(--size-4);
    block-size: var(--size-4);
  }
}
