name: Labs Prototypes CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 24.x
        python-version: [3.11]

    env:
      # Enable more verbose log output
      # https://github.com/google/wireit?tab=readme-ov-file#environment-variable-reference
      WIREIT_LOGGER: metrics

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - uses: google/wireit@setup-github-actions-caching/v2
        if: github.event_name != 'pull_request' # For PRs, caching is disabled to ensure a clean build

      - name: Clean Installing dependencies
        run: npm ci --ignore-scripts

      - name: Generating the build
        run: npm run build

      - name: Checking the code quality
        run: npm run lint

      - name: Check Dev Dependencies with Syncpack
        run: npm run syncpack:check:dev

      - name: Check Prod Dependencies with Syncpack
        run: npm run syncpack:check:prod

      - name: Checking the code formatting
        run: npm run check:format

      - name: Running coverage
        run: npm run coverage

      - name: Publish coverage status
        run: |
          STATS=$(node scripts/publish-coverage.js)
          echo "::notice title=Code Coverage::$STATS"
          {
            echo "### Coverage Details"
            echo "Stats: $STATS"
          } >> "$GITHUB_STEP_SUMMARY"


      - name: Upload coverage artifact
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v6
        with:
          name: coverage-report
          path: packages/visual-editor/coverage/coverage-summary.json
          retention-days: 7
